* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
    --primary-color: #4059AD;      
    --secondary-color: #C2EABD;    
    --accent1-color: #EFC7C2;      
    --accent2-color: #CE4760;      
    --text-color: #000000;       
    --box-shadow: 0 0 30px gray;  
    --max-page-width: 960px;
  }
  
  body {
    font-family: 'Lato', sans-serif;
    color: var(--text-color);
    background-color: #fff;
    line-height: 1.6;
    max-width: var(--max-page-width);
    margin: 0 auto; 
    padding: 1rem;
  }
  
  header {
    display: grid;
    grid-template-columns: 350px 1fr;
    align-items: center;
    background-color: var(--secondary-color);
    padding: 1rem;
    margin-bottom: 1rem;
    justify-items: center;
  }

  header img {
    width: 150px; /* adjust as needed */
    height: auto;
    justify-self: center;
  }
  
  header h1 {
    text-align: center;
    font-size: 2rem;
    color: var(--text-color);
  }

  .main-nav {
    display: flex;
    list-style: none;
  }
  
  .main-nav a {
    text-decoration: none;
    color: var(--text-color);
    font-weight: bold;
    padding: 0.5rem 0.5rem;
    border: 1px solid var(--accent1-color);
    background-color: #fff;
    align-items: center;
  }
  
  .hero {
    position: relative;
    margin-bottom: 1rem;
  }
  
  .hero img {
    display: block;
    width: 100%;   
    height: auto;
  }
  
 
  .hero h1 {
    position: absolute;
    top: 20px;
    left: 0;
    font-family: 'PT Serif', serif;
    font-size: 2rem;
    color: var(--primary-color);
    background-color: rgba(255, 255, 255, 0.7);
    padding: 0.5rem 1rem;
    border-radius: 5px;
    width: 100%;
    text-align: center;
  }
  
  
  .hero article {
    position: absolute;
    bottom: 80px;
    left: 20px;
    right: 20px;
    background-color: rgba(255, 255, 255, 0.85);
    padding: 1rem;
    border: 1px solid var(--accent1-color);
    border-radius: 5px;
  }
  
  
  .hero article img {
    float: right;
    width: 100px;
    margin-left: 1rem;
    margin-bottom: 0.5rem;
  }
  
  .history {
    padding: 2rem;
    margin-bottom: 1rem; 
  }
  
  .history p {
    text-align: left; 
    /* margin-bottom: 1rem;  */
    margin-left: 1rem;
  }



  /* Set up a 3-column grid: left text | center image | right text */
  .history-grid {
    display: grid;
    grid-template-columns: 35% 30% 35%;
    align-items: center; 
  }
  
  /* If you want the middle column to have a background color behind the image */
  .history-image {
    padding: 0.5rem; 
    display: grid;
    justify-content: center;
    margin-bottom: 3rem;
    /* align-items: center; */
  }
  
  .history h2 {
    /* text-align: left;  */
    /* margin-bottom: 1rem;  */
    margin-top: -2rem;
  }

  .history-image img {
    max-width: 100%;
    height: 100%;
    margin-top: -1rem;
    display: block;

  }
  
  .gallery {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5 columns */
    margin-top: 1rem;
    align-self: stretch;
  }
  
  .gallery figure {
    margin: 0 0.5rem;
    background-color: #fff;
    padding: 0.5rem;
    text-align: center;
    border: 1px solid #ccc;
  }
  
  .gallery figcaption {
    margin-top: 0.5rem;
    color: var(--primary-color);
    font-size: 0.9rem;
    color: #000;
  }
  
  .gallery figure img {
    width: 100%;
    height: auto;
    display: block;
  }
  
  section {
    padding: 2rem 1rem;
    margin-bottom: 1rem;
    background-color: #f4ebe9;
    box-shadow: var(--box-shadow);
    text-align: center;
  }
  
  section h2 {
    font-family: 'PT Serif', serif;
    font-size: 1.8rem;
    color: var(--primary-color);
    margin-bottom: 1rem;
  }
  
  
  .sociallinks a {
    text-decoration: none;
    margin: 0 0.5rem;
  }
  
  .sociallinks img {
    width: 32px;
    height: 32px;
    /* vertical-align: auto; */
  }

  footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--secondary-color);
    color: #000;
    padding: 1rem;
    margin-top: 1rem;
    border-top: 1px solid #000;
  }
  
  footer p {
    /* margin-bottom: 1rem; */
    font-size: 0.9rem;
  } 